html {
    background-color: white;
    overflow-y: scroll;
    -webkit-overflow-y: overlay;
    overflow-y: overlay;
    font-family: Arial, Helvetica, sans-serif;
}
div.header {
    background-color: #a3cc72;
}
.logoWidthHeader {
    width: 10%;
    padding: 1vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
div.body {
    width: 100%;
}
p {
    color: black;
    font-size: 2vw;
    text-indent: 1vw;
    margin: 2vw;
}
div.article{
    
}
div.space p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    background-color:  white;
    padding: 4em;
    width: 30%;
    margin: 0;
    clip-path: polygon(100% 0, 100% 50%, 89% 100%, 0% 100%, 0 48%, 0% 0%);

}
div.space {
    background-image: url("trashCleanup.jpg");
    /* https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.shutterstock.com%2Fvideo%2Fclip-1025209217-group-asian-people-cleaning-beach-plastic-bags&psig=AOvVaw1fNFktitRGvzx_3WcTPsfe&ust=1642702712158000&source=images&cd=vfe&ved=0CAwQjhxqFwoTCMjR7M62vvUCFQAAAAAdAAAAABAD */
    background-size: 120%;
    background-position: 50%;
    background-attachment: fixed;
    margin: 1vw 0;
    border-style: solid none solid none;
    border-width: 0.5vw;
    border-color: rgba(0, 0, 0, 0);
}
div.attentionPiece {
    position: relative;
    background-image: url("cbTexture.jpg");
    background-size: 40%;
    padding: 1vw 0;
    z-index: 1;
}
div.bin {
        background-color: white;
        color: black;
        border-width: 5px;
        border-radius: 20px;
        border-style: double;
        border-color: rgba(20, 20, 20, 0.521);
        width: 70%;
        display: block;
        padding: 5vw;
        margin-top: 5vw;
        margin-left: 8vw;
        font-size: 1em;
        font-family: Arial, Helvetica, sans-serif;
}
div.bin p {
    font-size: 1em;
}
.bin {
    opacity: 0;
    transition: opacity 0.4s;
}

.Map {
    display: block;
    margin-left:auto;
    margin-right:auto;
    width: 75%;
    height: 75%;
    border-style: double;
    border-width: 10;
    border-color: rgb(78,53,36);
}

.title {
    text-align: center;
    font-size: x-large;
}

.title_2 {
    font-size: large;
    font-style: oblique;
    margin-top: 1vw;
    font-size: 2vw;
}

.mission {
    text-align:center;
    display: inline-block;
    width: 50%;
    float: left;
    margin-top: 6vw;
}

.footprint {
    width: 30%;
    height: 30%;
}

div.navbar a {
    font-family:  Arial, Helvetica, sans-serif;
    font-size: 2em;
    padding: .5vw;
    text-align: center;
    text-decoration: none;
    color: #579f00;
}
div.navbar a:hover {
    text-decoration: underline;
}

.treeCalc{
    background-color: white;
    color: black;
    border-width: 5px;
    border-radius: 20px;
    border-style: double;
    border-color: rgba(20, 20, 20, 0.521);
    width: 70%;
    display: block;
    padding: 2vw;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    }
    
    div.space2 p {
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        background-color: black;
        font-size: 1em;
        padding: 4em;
        width: 30%;
        margin: 0;
        clip-path: polygon(100% 0, 100% 50%, 89% 100%, 0% 100%, 0 48%, 0% 0%);
    
    }
    div.space2 article {
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1em;
        background-image: url("ground.jpg");
        padding: 4em;
        clip-path: polygon(100% 0, 100% 50%, 89% 100%, 0% 100%, 0 48%, 0% 0%);
    
    }
    
    div.space2 {
        background-image: url("forest.jpg");
        /*  */
        background-size: 70%;
        background-attachment: fixed;


    }
    div.attentionPiece2{
        position: relative;
        background-color: #a3cc72;
        background-repeat: no-repeat;
        background-size: 100%;
        padding: 5em;
    
    }
    
    .toRight{
    margin-left: 26%;
    
    }
    
    .contact{
        color: black;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1em;
        list-style: none;
    }

    .contact:hover
        {
            font-weight: bold;
        }
    
    li{
    margin:20px;    
    }

    footer{
        color:black;
        background-color: white;
        text-align:center;
        font-family: Arial, Helvetica, sans-serif;
        border-style: solid none none none;
        border-color: black;
        border-width: 0.01vw;
        padding: 1vw;
        font-size: 1em;
    }

div.bin3 h1 {
    margin: 3vw;
}

div.bin3 li {
    margin: 3vw;
}


strong {
    font-weight: bold;
}



@media only screen and (max-width: 600px) {
    html {
        background-color: white;
        overflow-y: scroll;
        -webkit-overflow-y: overlay;
        overflow-y: overlay;
        font-family: Arial, Helvetica, sans-serif;
    }
    div.header {
        background-color: #a3cc72;
    }
    .logoWidthHeader {
        width: 10%;
        padding: 1vw;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    div.body {
        width: 100%;
    }
    p {
        color: black;
        font-size: 2vw;
        text-indent: 1vw;
        margin: 2vw;
    }
    div.article{
        
    }
    div.space p {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1em;
        background-color:  white;
        padding: 4em;
        width: 30%;
        text-align: center;
        margin: 0;
        clip-path: polygon(100% 0, 100% 50%, 89% 100%, 0% 100%, 0 48%, 0% 0%);
    
    }
    div.space {
        background-image: none;
        background-color: rgb(19, 134, 211);
        /* https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.shutterstock.com%2Fvideo%2Fclip-1025209217-group-asian-people-cleaning-beach-plastic-bags&psig=AOvVaw1fNFktitRGvzx_3WcTPsfe&ust=1642702712158000&source=images&cd=vfe&ved=0CAwQjhxqFwoTCMjR7M62vvUCFQAAAAAdAAAAABAD */
        background-size: 120%;
        background-position: 50%;
        background-attachment: fixed;
        margin: 1vw 0;
        border-style: solid none solid none;
        border-width: 0.5vw;
        border-color: rgba(0, 0, 0, 0);
    }
    div.attentionPiece {
        position: relative;
        background-image: url("cbTexture.jpg");
        background-size: 40%;
        padding: 1vw 0;
        z-index: 1;
    }
    div.bin {
        background-color: white;
        display: block;
        padding: 4em;
        font-size: 1em;
        margin: 1em auto;
        margin-right: 8vw;
        width: 70%;
        font-family: Arial, Helvetica, sans-serif;
    }
    div.bin p {
        font-size: 1em;
    }
    .bin {
        opacity: 0;
        transition: opacity 0.4s;
    }
    
    .Map {
        display: block;
        margin-left:auto;
        margin-right:auto;
        width: 105%;
        height: 50%;
        border-style: double;
        border-width: 10;
        border-color: rgb(78,53,36);
    }
    
    .title {
        text-align: center;
        font-size: x-large;
    }
    
    .title_2 {
        font-size: large;
        font-style: oblique;
    }
    
    .mission {
        text-align:center;
        display: inline-block;
        width: 50%;
        float: left;
    }
    
    .footprint {
        width: 40%;
        height: 25%;
    }
    
    div.navbar a {
        font-family:  Arial, Helvetica, sans-serif;
        font-size: 2em;
        padding: .5vw;
        text-align: center;
        text-decoration: none;
        color: #579f00;
    }
    div.navbar a:hover {
        text-decoration: underline;
    }
    
    .treeCalc{
        background-color: white;
        color: black;
        border-width: 5px;
        border-radius: 20px;
        border-style: double;
        border-color: rgba(20, 20, 20, 0.521);
        width: 70%;
        display: block;
        padding: 8vw;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        }
        
        div.space2 p {
            color: white;
            font-family: Arial, Helvetica, sans-serif;
            background-color: black;
            font-size: 1em;
            padding: 4em;
            width: 30%;
            margin: 0;
            clip-path: polygon(100% 0, 100% 50%, 89% 100%, 0% 100%, 0 48%, 0% 0%);
        
        }
        div.space2 article {
            color: white;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 1em;
            background-image: url("ground.jpg");
            padding: 4em;
            clip-path: polygon(100% 0, 100% 50%, 89% 100%, 0% 100%, 0 48%, 0% 0%);
        
        }
        
        div.space2 {
            background-image: none;
            background-color: rgb(73, 29, 29);;
            background-size: 70%;
            background-attachment: fixed;
    
    
        }
        div.attentionPiece2{
            position: relative;
            background-color: #a3cc72;
            background-repeat: no-repeat;
            background-size: 100%;
            padding: 5em;
        
        }
        
        .toRight{
        margin-left: 10%;
        text-align: center;
        
        }
        
        .contact{
            color: black;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 1em;
            list-style: none;
        }
        
        li{
        margin:20px;    
        }
    
        footer{
            color:black;
            background-color: white;
            text-align:center;
            font-family: Arial, Helvetica, sans-serif;
            border-style: solid none none none;
            border-color: black;
            border-width: 0.01vw;
            padding: 1vw;
            font-size: 1em;
        }
    
    div.bin3 h1 {
        margin: 3vw;
    }
    
    div.bin3 li {
        margin: 3vw;
    }
    strong {
        font-weight: bold;
    }
  }